<div class="header-container">
  <div class="navigation">
    <div class="title-container" [routerLink]="'/home'">
      <span class="title" [class]="{bold: currentRoute == '/home'}">עמוד הבית</span>
    </div>
    <div class="title-container" [routerLink]="'/Schedule'">
      <span class="title" [class]="{bold: currentRoute == '/Schedule'}">לוח זמנים</span>
    </div>
  </div>
  <div class="userSide-container">
    <div class="auth">
      <button mat-raised-button color="accent" class="auth-button" (click)="fireLogin()">login</button>
    </div>
    <img src="/assets/img/wss.png" class="icon-image" [routerLink]="'/home'" />
  </div>
</div>
