<div class="creat-admin-note-container">
  <span class="bold title">הודעה חדשה</span>
  <form [formGroup]="fg">
    <div class="creat-section">
      <mat-form-field appearance="fill" dir="rtl" class="title-of-massage">
        <mat-label>כותרת ההודעה</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="fill" dir="rtl" class="text-area">
        <mat-label>תוכן ההודעה</mat-label>
        <textarea matInput formControlName="message"></textarea>
      </mat-form-field>
    </div>
    <div class="buttons-section">
      <div class="buttons-container">
        <button mat-button (click)="close()" class="close-button">סגור</button>
        <button mat-flat-button (click)="save()" color="primary">שמור</button>
      </div>
    </div>
  </form>
</div>
